.contacts {
  display: flex;
  justify-self: flex-end;
  align-items: center;

  &__list {
    display: flex;
    gap: 50px;
    padding-right: 2px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $grey-tone;
  }

  &__icon {
    display: inline-block;
    height: 16px;
  }
  &__icon-phone {
    width: 30px;
  }
  &__icon-mail {
    width: 36px;
  }
  &__element:hover {
    --color4: $brand-color;
  }
  &__element:focus {
    --color4: $brand-color;
  }
}
