.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms;
  transition-timing-function: $main-transition-cubic;
  &:hover {
    color: $brand-color;
  }
  &:focus {
    color: $brand-color;
  }
  &:active {
    color: initial;
  }
  &:visited {
    color: initial;
  }
}
