.modal {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: visibility, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__box {
  box-sizing: border-box;
  width: 528px;
  height: 581px;
  background-color: var(--pure-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: initial;
  margin: auto;
  position: relative;
}
.modal__closing {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--pure-white);
  cursor: pointer;
}
.modal__x {
  fill: #000;
  width: 11px;
  height: 11px;
}
/* Modal */
/* form */
.modal__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 30px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-tone);
  position: absolute;
  top: -18px;
  left: 0;
}
.modal__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
}
.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__fieldset {
  display: flex;
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 28px;
  margin-left: 40px;
  padding-left: 12px;
  padding-block: 10px;
  margin-top: 0;
  will-change: bordercolor, fill;
  transition: fill 250ms, border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment {
  width: 448px;
  height: 120px;
  resize: none;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding-left: 16px;
  padding-block: 11px;
  margin-top: 0;
}

.modal__link {
  color: var(--brand-color);
}
.modal__icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-self: center;
  margin-right: 12px;
}
.modal__submit {
  width: 200px;
  height: 50px;
  background: var(--brand-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--pure-white);
  margin-left: 164px;
  margin-bottom: 40px;
  padding: 0;
}

.modal__fieldset:focus-within,
.modal__comment:focus-within,
.modal__fieldset:hover,
.modal__comment:hover {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.modal__checkbox {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 77px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-tone);
  position: relative;
}