.navigation {
  display: flex;
  flex-grow: 2;
}
.navigation__list {
  display: flex;
  padding-left: 93px;
  gap: 46px;
}
.navigation__highlight {
  color: var(--brand-color);
}
.navigation__link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--brand-color);
}
