.workspace__element {
  position: relative;
}
.workspace__image {
  display: block;
}
.workspace__overlay {
  display: block;
  position: absolute;
  width: 370px;
  height: 70px;
  padding-block: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.workspace__paragraph {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pure-white);
}